* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
    padding: 20px;
    background-color: lightgreen;

}

#sidebar {
    float: left;
    background-color: lightpink;
    padding: 10px;
    width: 25%;
}

#content {
    float: right;
    background-color: lightblue;
    padding: 20px;
    width: 75%;
}

#footer {
    text-align: center;
    background-color: lightslategray;
    padding: 20px;
    text-transform: uppercase;
    clear: both;
}

h2 {
    margin-bottom: 15px;
}

img {
    float: right;
    border-radius: 20px;
}
ul {
    list-style-type: none;
    background-color: #f1f1f1;
 }

li {
    display: block;
    padding: 8px 16px;
    color: #000;
}

li:hover {
    background-color: rebeccapurple;
    color: white;
}

h3 {
    text-shadow: 2px  blue;
}